.userTable {
  max-width: 100%; /* Adjust the max-width as needed */
  margin: 0 auto;
}

label {
  margin-right: 8px;
}

.addCourseButton {
  margin-top: 16px;
  margin-bottom: 16px;
  display: block; /* Ensure the button takes full width */
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 16px;
}

th, td {
  border: 1px solid #ddd;
  padding: 6px; /* Adjust padding as needed */
  text-align: left;
  font-size: 12px; /* Adjust font size as needed */
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}
